
<div class="modal fade  " id="mdl-vista_vinna" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog disenno-modal "  style="width: 50% !important; -webkit-transform: translate(0,0);
    transform: translate(0,0);">
      <div class="">

        <div id="contenedor_img_vinna" class="">
        
        </div>

        <div style="    background: #A4BA49 0% 0% no-repeat padding-box;
        height: 25px;
        /* text-align: -webkit-center; */
        /* margin: 4px; */
        padding: 1px;
        padding-left: 20px;">
            <h6 style="color: #FFFFFF;" id="titulo_superior"></h6>
        </div>

        <div class="" style="    padding: 13px;">
          
          <div> <strong style="font-size: 19px;" id="titulo-vinna-mdl" ></strong> </div>
          <div><p id="descripcion_vinna" style="font-size: 12px;"></p></div>
        </div>

      </div>
    </div>
  </div>
  